<tbody>
  <% if merchant_orders.length > 0 %>
    <% merchant_orders.each do |item| %>
        <% product = Product.find_by(id: item.product_id)%>
        <tr class="list-group-item-action">
          <% order_id = item.order_id%>
          <td><%= link_to item.order_id, order_path(order_id) %></td>
          <td><%= product.created_at.strftime( "%B %e, %Y")%></td>
          <td><%= link_to product.name, product_path(product.id) %></td>
          <td><%= image_tag product.image,  class:'profile_pic' %></td>
          <td>$ <%= sprintf("%.2f",product.price)%></td>            
          <td><%= item.quantity %></td>
          <td>$ <%= item.total_price_qty %></td>
          <td><%= item.status %></td>
          <% if merchant_orders ==  @dashboard_merchant.find_all_order_items("Paid") %>
            <td><%= link_to "Cancel", mark_cancel_path(item.id), method: :patch,
                class:"btn btn-outline-danger btn-xs"
            %></td>
            <td><%= link_to "✓", mark_complete_path(item.id), method: :patch,
                class:"btn btn-outline-info btn-xs"
            %></td>
          <%end%>
        </tr>
    <% end %> 
  <% else %>
    <td>No order yet ... </td>
  <% end %>
</tbody>