<div class="container mt-5 mb-5">
  <h1>Your cart</h1>
  <% if !@order %>
    <div>Your cart is empty. Add something already!</div>
  <% else %>

    <% @order.order_items.each do |order_item| %>
      <div class="card bg-light mb-3">
        <div class="row card-body">
          <div class="col-3">
            <img src= <%= order_item.product.image %> alt="" class="img-fluid">
          </div>
          <div class="col">
            <h3 class="card-title"> <%= order_item.product.name %> </h5>
            <h6 class="card-subtitle mb-2 text-muted"> Merchant: <%= order_item.product.merchant.username %></h6>
            <ul class="">
            
              <%= render partial: 'orders/setquantity', locals: {order_item: order_item} %>
              <li>Item Price: $<%= sprintf("%.2f",order_item.product.price) %> </li>
              <li>Price Total: $<%=sprintf("%.2f",order_item.total_price_qty()) %> </li>
            </ul>
            <%= link_to "Remove", order_order_item_path(@order, order_item), method: :delete, class: "btn btn-outline-danger" %>
          </div>
        </div>
      </div>  
    <% end %>

    <div class="mt-5 mb-5">

      <h5>Subtotal: $<%=sprintf("%.2f",@order.subtotal)%></h5>
      <h5>Taxes: $<%=sprintf("%.2f",@order.taxes)%></h5>
      <h5>Total: $<%=sprintf("%.2f", @order.purchase_total)%></h5>

    </div>
    
    <%= link_to "Checkout", edit_order_path(@order), class: "btn btn-outline-info" %>
    <%= link_to "Empty Cart", order_path(@order), method: :delete, data: {confirm: "Empty your cart?"}, class: "btn btn-outline-danger" %>
  <% end %>
</div>