<body style="background-image: url(<%= asset_path("water.jpg")%>); background-position: center; background-size: cover">

<% if @order && @order.errors.any? %>

  <section class="alert alert-danger">
    <h1>You have not selected any order items</h1>
      <ul>
        <% @order.errors.each do |column, message|%>
        <li>
          <strong><%= column.capitalize %> </strong> <%= message%>
        </li>
        <% end %>
      </ul>
  </section>
<% end %>

<%= form_with model: @order, url: order_path(@order), method: :patch do |f| %>
<div class="container wow fadeIn">   
  <%# Heading  %>
  <h2 class="my-5 checkout h2 text-center">Checkout form</h2>  
   <%# Grid row %>
      <div class="row">
        <%# Grid Column %>
          <div class="col-md-8  mb-4">
            <%# card %>
            <div class= "card">
              <div class="card-body">
              <%# Grid Column %>
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <div class="md-form mb-5">
                      <%= f.label :customer_name, "Name" %>
                      <%= f.text_field :customer_name, class: "form-control", placeholder: "Your Name"  %>
                      
                    </div> 
                  </div> 
                    <div class="col-md-6 mb-3">
                      <div class="md-form mb-5">
                        <%= f.label :email, "Email Address" %> 
                        <%= f.text_field :email, class: "form-control", placeholder: "youremail@email.com"  %>
                      </div>
                    </div> 

                      <div class="col-md-6 mb-3">
                        <%= f.label :last_four_cc, "Card Number" %>
                        <%= f.number_field :last_four_cc, class: "form-control", placeholder: "Credit Card number" %>
                      </div>
                   
                <div class="col-md-6 mb-3">
                      <%= f.label :address, "Shipping Address" %>
                      <%= f.text_field :address, class: "form-control", placeholder: "123 Address ST, City, State, Zip"  %>
                  </div>
                   </div>
                   <div class="row">
                <div class="col-md-3 mb-3">
                  <%= f.label :cvv, "Security Code" %>
                  <%= f.text_field :cvv, class: "form-control", placeholder: "123" %>
                </div>
                <div class="col-md-3 mb-3">
                  <%= f.label :exp_date, "Expiration Date" %>
                  <%= f.text_field :exp_date, class: "form-control", placeholder: "01/25"  %>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <%= f.label :zip, "Zip Code" %>
                    <%= f.text_field :zip, class: "form-control", placeholder: "00000" %>
                  </div>
                </div>
                
                <hr class="mb-4">
                  <div class="form-group">
                    <%= f.submit "Complete Order", class: "btn btn-info btn-lg btn-block waves-effect waces-light " %> 
                  </div>               
                </div>   
              </div>
           </div>
</div>

<% end %>
              
          <div class="col-md mb-4">
          <h4 class="d flex justify-content-between align-items-center mb-3">
            <span class="checkout">Your cart</span>
            <span class="badge badge-secondary badge-pill"> 
              <% if session[:order_id] %><%= Order.find_by(id: session[:order_id]).order_items.count%></span> 
              <% end %>
              </h4>        
      <%# Cart%>
          <ul class="list-group mb-3 z-depth-1"> <% @order.order_items.each do |order_item| %> 
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0"> <%=order_item.product.name %></h6>
              
                <small class="badge badge-secondary badge-pill">Quantity <%=order_item.quantity%>
                </small>
              </div>

                <span class="text-muted">$<%=sprintf("%.2f",order_item.total_price_qty)%>
               
              </span>  
            
                    <% end %>  
              <li class="list-group-item d-flex justify-content-between lh-condensed"> 
              <span>Taxes(USD)</span>
              <strong>$<%=sprintf("%.2f",@order.taxes)%></strong> 
             </li> 
             <li class="list-group-item d-flex justify-content-between lh-condensed"> 
              <span>Total(USD)</span>
              <strong>$<%=sprintf("%.2f", @order.purchase_total)%></strong> 
             </li> 
          </ul>    
 </body>