<div class="container mt-5 dashboard">
  <%= render partial: 'infocard' %>
  <section class='order_list'>
    <h2 class="mt-5"> Order List:</h2>
    <p>Total Paid Order Item Revenue: </p>
    <p>Total Paid Order Item Count: <%= @merchant.find_all_order_items("Paid").count %></p>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Order ID</th>
          <th scope="col">Order Date</th>
          <th scope="col">Product</th>
          <th scope="col">Item image</th>
          <th scope="col">Item price</th>
          <th scope="col">Qty</th>
          <th scope="col">Revenue</th>
          <th scope="col">Status</th>
          <th scope="col">Cancel Order</th>
          <th scope="col">Mark Shipped</th>
        </tr>
      </thead>
      <%= render partial: 'orders/list', locals: { merchant_orders: @merchant.find_all_order_items("Paid")}%>
    </table>
    <section class='order_list'>
    <h2 class="mt-5"> Order History:</h2>
    <p>Total Completed Order Revenue: </p>
    <p>Total Completed Order Count: <%= @merchant.find_all_order_items("Completed").count %></p>
    <table class="table">
    <div class="filter-group float-right"> 
      <span class="input-group-addon font-weight-bold">Filter by Status  </span>
      <select id="filter" class="check_boxes" >
        <option selected>Show All</option>
        <option value="3">Complete</option>
        <option value="4">Cancelled</option>
      </select>
    </div>
      <thead >
        <tr>
          <th scope="col">Order ID</th>
          <th scope="col">Order Date</th>
          <th scope="col">Product</th>
          <th scope="col">Item image</th>
          <th scope="col">Item price</th>
          <th scope="col">Qty</th>
          <th scope="col">Revenue</th>
          <th scope="col">Order Status</th>
        </tr>
      </thead>
      <%= render partial: 'orders/list', locals: { merchant_orders: @merchant.find_all_order_items("Completed")}%>
    </table>
    <section class='product_list'>
    <div class= 'product-info row'>
      <div class='col-6'>
        <h2 > Item list:</h2>
        <p>Total Active Item Count : <%= @merchant.products.where(active: true).count %></p>
        <p>Total Inactive Item Count: <%= @merchant.products.where(active: false).count %></p>
        <%# refernce from https://forum.upcase.com/t/how-to-implement-filtering-for-my-rails-app/2834 %>
      </div>
      <div class="filter-group filter-order float-right col-6"> 
        <%= form_tag(dashboard_path, :method => "get") do %>
          <span class="input-group-addon font-weight-bold">Filter by Status  </span>
          <%= select_tag 'status', options_for_select(@order_status, @selected_status), {onchange: "this.form.submit();", prompt: @prompt} %>
        <% end %>
      </div>
    </div>
    <table class="table">
      <thead >
        <tr>
          <th scope="col">Image</th>
          <th scope="col">Name</th>
          <th scope="col">Item Price</th>
          <th scope="col">Stock</th>
          <th scope="col">Rating</th>
          <th scope="col">Active Status</th>
          <th scope="col">Change Status</th>
          <th scope="col">Edit Product</th>
        </tr>
      </thead>
      <%= render partial: 'products/list' %>
    </table>
    </div>
  </section>
    </div>
  </section>
</div>
