<div class="container mt-5 dashboard">
  <%= render partial: 'infocard', locals: {merchant: @dashboard_merchant} %>
  <section class='order_list'>
    <h2 class="mt-5"> Order List:</h2>
    <h5>Paid Orders</h5>
    <p> Revenue: $<%=  @dashboard_merchant.total_revenue_by("Paid") %></p>
    <p> Order item Count: <%=  @dashboard_merchant.find_all_order_items("Paid").count %></p>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Order ID</th>
          <th scope="col">Order Date</th>
          <th scope="col">Product</th>
          <th scope="col">Item image</th>
          <th scope="col">Item price</th>
          <th scope="col">Qty</th>
          <th scope="col">Revenue</th>
          <th scope="col">Status</th>
          <th scope="col">Cancel Order</th>
          <th scope="col">Mark Shipped</th>
        </tr>
      </thead>
      <%= render partial: 'orders/list', locals: { merchant_orders:  @dashboard_merchant.find_all_order_items("Paid")}%>
    </table>
  </section>
    <section class='order_list'>
    <h2 class="mt-5"> Order History:</h2>
    <h5>Completed Orders: </h5>
    <p>Revenue: $<%= @dashboard_merchant.total_revenue_by("Completed")%> </p>
    <p>Order Item Count: <%=  @dashboard_merchant.find_all_order_items("Completed").count %></p>
    <table class="table">
      <thead >
        <tr>
          <th scope="col">Order ID</th>
          <th scope="col">Order Date</th>
          <th scope="col">Product</th>
          <th scope="col">Item image</th>
          <th scope="col">Item price</th>
          <th scope="col">Qty</th>
          <th scope="col">Revenue</th>
          <th scope="col">Order Status</th>
        </tr>
      </thead>
      <%= render partial: 'orders/list', locals: { merchant_orders:  @dashboard_merchant.find_all_order_items("Completed")}%>
    </table>
    <h5>Cancelled Orders: </h5>
    <p>Order Item Count: <%=  @dashboard_merchant.find_all_order_items("Cancelled").count %></p>
    <table class="table">
      <thead >
        <tr>
          <th scope="col">Order ID</th>
          <th scope="col">Order Date</th>
          <th scope="col">Product</th>
          <th scope="col">Item image</th>
          <th scope="col">Item price</th>
          <th scope="col">Qty</th>
          <th scope="col">Revenue</th>
          <th scope="col">Order Status</th>
        </tr>
      </thead>
      <%= render partial: 'orders/list', locals: { merchant_orders:  @dashboard_merchant.find_all_order_items("Cancelled")}%>
    </table>
    </section>
    <section class='product_list'>
    <div class= 'product-info row'>
      <div class='col-6'>
        <h2 > Item list:</h2>
        <p>Total Active Item Count : <%=  @dashboard_merchant.products.where(active: true).count %></p>
        <p>Total Inactive Item Count: <%=  @dashboard_merchant.products.where(active: false).count %></p>
        <%# refernce from https://forum.upcase.com/t/how-to-implement-filtering-for-my-rails-app/2834 %>
      </div>
      <div class="filter-group filter-order float-right col-6"> 
        <%= form_tag(dashboard_path, :method => "get") do %>
          <span class="input-group-addon font-weight-bold">Filter by Status  </span>
          <%= select_tag 'status', options_for_select(@order_status, @selected_status), {onchange: "this.form.submit();", prompt: @prompt} %>
        <% end %>
      </div>
    </div>
    <table class="table">
      <thead >
        <tr>
          <th scope="col">Image</th>
          <th scope="col">Name</th>
          <th scope="col">Item Price</th>
          <th scope="col">Stock</th>
          <th scope="col">Rating</th>
          <th scope="col">Active Status</th>
          <th scope="col">Change Status</th>
          <th scope="col">Edit Product</th>
        </tr>
      </thead>
      <%= render partial: 'products/list' %>
    </table>
    </div>
  </section>
    </div>
  </section>
</div>
