<div class="container mt-5">

  <div class="card bg-light" style="width: 30rem;">
    <div class="row card-body">
      <div class="col-5">
        <img src= <%= @merchant.avatar %> alt="" class="img-fluid">
      </div>
      <div class="col">
        <h1 class="card-title"> <%= @merchant.username %> </h5>
        <h6 class="card-subtitle mb-2 text-muted">On bEtsy since: <%= @merchant.created_at.strftime("%d/%m/%y") %></h6>
        <ul>
          <li>Products: <%= @merchant.products.count %></li>
          <li>Orders: N/A</li>
          <li>Rating: N/A</li>
        </ul>
      </div>
    </div>
  </div>

  <h2 class="mt-5"> Products:</h2>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Stock</th>
        <th scope="col">Rating</th>
      </tr>
    </thead>
    <tbody>
      <% if @merchant.products.length > 0 %>
        <% @merchant.products.each do |product| %>
            <tr class="list-group-item-action">
              <td><%= link_to product.name, product_path(product.id) %></td>
              <td>$ <%= product.price%></td>            
              <td><%= product.stock %> left
                  <% if product.stock <= 10 %>
                    <span class="badge badge-danger">
                      <%= link_to "Time to Restock!", edit_product_path(product.id), class:"text-white"%>
                    </span>
                  <% end %>
              </td>
              <td>
                <% if product.find_average_rating.nil? %>
                    No review for this product yet!
                    <span class="badge badge-info">
                      <%= link_to "Time to a sales!", edit_product_path(product.id), class:"text-white"%>
                    </span>
                <%else%>
                      <% product.find_average_rating.times do  %>
                            ★
                      <%end%>
                      <% (5-product.find_average_rating).times do%>
                            ☆
                      <%end%>
                <%end%>
              </td>
            </tr>
        <% end %> 
      <% else %>
        <h5>No Products from <%=@merchant.username%> yet!</h5>
      <% end %>
    </tbody>
  </table>
</div>
