<%default_image = "https://i.imgur.com/WO2Uui9.jpg"%>
<div class=" products-list">
    <h1 class="text-category">Find things you'll love. Support independent sellers!</h1>
    <h4 class="everyday-finds"><strong>Everyday finds</strong></h4>
    <section class="row all-categories">
        <% @categories.each do |category| %>
        <div class="category-card">
            <%if category.products.first%>
            <div class="category-item">
                <%= link_to  category_path(category.id) do %>
                <div class="category-image" style="background-image:url(<%=category.products.first.image%>)"></div>
                <span class="category-name"><%= category.name %></span>
                <% end %>
            </div>

            <%else%>
            <div class="category-item">
                <%= link_to category_path(category.id) do %>
                <div class="category-image" style="background-image:url(<%=default_image%>)"></div>
                <span class="category-name"><%= category.name %></span>
                <% end %>
            </div>
            <%end%>
        </div>
        <% end %>
    </section>
   
    <div style="text-align:center">
      <%if session[:merchant_id]%>
          <%= link_to "Add a new category", new_category_path, class: "btn btn-info" %>
      <% end %>
       <%= link_to "All Products", products_path, class: "btn btn-info"%>
    </div>

</div>