<section class="section-name padding-y-sm">
  <div class="container">
      <%if @category.products.empty? %>
      <header class="section-heading">
        <h3 class="section-title">Sorry, there are no products in this categories</h3>
      </header>
      <%else%>
      <div class= "row">
        <% @category.products.each do |product| %>
          <div class="col-md-3">
          <div href="#" class="card card-product-grid">
            <%= image_tag product.image, alt: "product's image", class: 'img-wrap' %>
            <h4><%= link_to product.name, product_path(product) , class: 'card-title' %></h4>
            <p><%= product.description %></p>
            <h5>$ <%= product.price %></h5>
            <p><%= product.stock %> left in stock!</p>
            
            <% if product.find_average_rating.nil? %>
              <p> No review for this product yet!" </p>
            <%else%>
              <p>Rating:
                  <% product.find_average_rating.times do  %>
                        ★
                  <%end%>
                  <% (5 - product.find_average_rating).times do%>
                        ☆
                  <%end%>
              </p>
            <%end%>
            
            <%= link_to 'Add to cart', add_to_cart_path(product.id), method: :create, class:'btn btn-outline-secondary btn-sm'%>
          </div>
        </div>
      <% end %>
    <%end%>
</div>
    <%= link_to "Back to Categories", categories_path, class: "btn btn-primary" %>
    <%= link_to "All Products", products_path, class: "btn btn-primary" %>
    <%= link_to "Add a new product", new_product_path, class: "btn btn-primary" %>
</section>


