<section class="section-name padding-y-sm">
  <div class="container">
    <header class="section-heading">
      <% if product_list == @products%>
        <h3 class= "section-title">All Products</h3>
      <% else %>
        <h3 class= "section-title">Popular Products</h3>
      <% end %>
    </header>
    <div class= "row">
        <% product_list.each do |product|%>
          <div class="col-md-3">
          <div href="#" class="card card-product-grid">
          <%= image_tag product.image, alt: "product's image", class: 'img-wrap' %>
          <figcaption class="info-wrap">
          <%= link_to product.name, product_path(product.id), class: "card-title" %>
          <% if product_list == @products%>
            <p><%= truncate product.description, length: 50 %></p>
          <% end %>
          <div class="price mt-1">$ <%= product.price%></div>
          <% if product_list == @products%>
          <p>
            <%= product.stock %> left in stock!
            <% if product.stock <= 10 %>
              <span class="badge badge-info">Low in stock</span>
            <% end %>
          </p>
              <% if product.find_average_rating.nil? %>
                  <p> No review for this product yet!</p>
              <%else%>
                <p class="text-warning">
                    <% product.find_average_rating.times do  %>
                          ★
                    <%end%>
                    <% (5-product.find_average_rating).times do%>
                          ☆
                    <%end%>
                </p>
                <% if product.find_average_rating >= 4 %>
                  <span class="notify-badge">HOT ITEM</span>
                <% end %>
              <%end%>
              <%= link_to 'Add to cart', add_to_cart_path(product.id), method: :create, class:'btn btn-outline-secondary btn-sm'%>
          <% end %>
          </figcaption>
        </div>
        </div>
    <%end%>
  </div>
  </section>