<tbody>
  <% if products.length > 0 %>
    <% products.each do |product| %>
        <tr class="list-group-item-action">
          <td><%= link_to product.name, product_path(product.id) %></td>
          <td>$ <%= product.price%></td>            
          <td><%= product.stock %> left
              <% if product.stock <= 10 %>
                <span class="badge badge-danger">
                  <%= link_to "Time to Restock!", edit_product_path(product.id), class:"text-white"%>
                </span>
              <% end %>
          </td>
          <td>
            <% if product.find_average_rating.nil? %>
                No review for this product yet!
                <span class="badge badge-info">
                  <%= link_to "Time to a sales!", edit_product_path(product.id), class:"text-white"%>
                </span>
            <%else%>
                  <% product.find_average_rating.times do  %>
                        ★
                  <%end%>
                  <% (5-product.find_average_rating).times do%>
                        ☆
                  <%end%>
            <%end%>
          </td>
        </tr>
    <% end %> 
  <% else %>
    <h5>No Products from <%=@merchant.username%> yet!</h5>
  <% end %>
</tbody>