<tbody>
  <% if @merchant_products.length > 0 %>
    <% @merchant_products.each do |product| %>
        <tr class="list-group-item-action">
          <td><%= image_tag product.image,  class:'profile_pic' %></td>
          <td><%= link_to product.name, product_path(product.id) %></td>
          <td>$ <%= sprintf("%.2f",product.price)%></td>            
          <td><%= product.stock %> left
              <% if product.stock <= 10 %>
                <p><span class="badge badge-danger">
                  <%= link_to "Time to Restock!", edit_product_path(product.id), class:"text-white"%>
                </span></p>
              <% end %>
          </td>
          <td>
            <% if product.find_average_rating.nil? %>
                no review...
                <p><span class="badge badge-info">
                  <%= link_to "Time to promote!", edit_product_path(product.id), class:"text-white"%>
                </span></p>
            <%else%>
                <span class='text-warning'>
                  <% product.find_average_rating.times do  %>
                        ★
                  <%end%>
                  <% (5-product.find_average_rating).times do%>
                        ☆
                  <%end%>
                </span>
            <%end%>
          </td>
          <td>
            <%= product.active ? "Active ✔︎" : "Inactive ✕"%>
          </td>
          <td>
            <%= link_to "#{product.active ? "Inactivate" : "Activate"}", 
                toggle_active_path(product.id), 
                method: :patch,
                data: {confirm: "Are you sure to set the state to #{product.active ? "inactive" : "active"}"}, 
                class:"btn btn-outline-info btn-xs"
            %>
          </td>
          <td>
            <%= link_to "Edit", edit_product_path(product.id),
                class:"btn btn-outline-info btn-xs"
            %>
          </td>
        </tr>
    <% end %> 
  <% else %>
    <% if params[:status] %>
        <td class='text-warning'>No Products from <%= @dashboard_merchant.username%> for <%= params[:status]%> status </td>
    <% else %>
        <td>No Products from <%= @dashboard_merchant.username%></td>
    <% end %>
  <% end %>
</tbody>