<div class="row products-list">
  <% @products.each do |product| %>
    <div class='col-lg-4 col-md-6 mb-4'>
      <div class='card h-100'>
        <%= image_tag product.image, alt: "product's image", class:'card-img-top products-imgs'%>
        <h4><%= link_to product.name, product_path(product) , class: 'card-title' %></h4>
        <p><%= product.description %></p>
        <h5>$ <%= product.price %></h5>
        <p><%= product.stock %> left in stock!</p>
        <p><%= "#{product.find_average_rating ? "#{product.find_average_rating} ★" : "No review for this product yet!"}"%></p>
        <%= link_to 'Add to cart', add_to_cart_path(product.id), method: :create, class:'btn btn-outline-secondary btn-sm'%>
      </div>
    </div>
  <% end %>
</div>