<div class="product-display">
  <div class='row product-item'>
    <div class='col-sm'>
      <%= image_tag @product.image, alt: "product's image", class:'img-fluid product-img'%>
    </div>
    <div class='col-sm'>
    <h4><%= link_to @product.name, product_path(@product) , class: 'card-title' %></h4>
    <p class="lead font-weight-bold">Description</p><%= @product.description %></p>
    <p class="lead font-weight-bold">Categories</p>
    <p><% @product.categories.each do |category|%>
        <span class="badge badge-secondary"><%= link_to category.name, category_path(category.id), class:"text-white" %></span>
      <%end%>
    </p>
    <br>
    <h5>$ <%= @product.price %></h5>
    <p>
      <%= @product.stock %> left in stock!
      <% if @product.stock <= 10 %>
        <span class="badge badge-pill badge-danger">Low in stock</span>
      <% end %>
    </p>
    <% if @product.find_average_rating.nil? %>
        <p> No review for this product yet! </p>
    <%else%>
      <p class="text-warning">
          <% @product.find_average_rating.times do  %>
                ★
          <%end%>
          <% (5-@product.find_average_rating).times do%>
                ☆
          <%end%>
      </p>
    <%end%>
    
    <%= link_to 'Add to cart', add_to_cart_path(@product.id), method: :create, class:'btn btn-outline-secondary btn-sm'%>
    <% if session[:merchant_id] == @product.merchant_id %>
      <%= link_to 'Edit Product', edit_product_path(@product.id), class:'btn btn-outline-secondary btn-sm'%>
      <%= link_to "Set #{@product.active ? "inactive" : "active"}", 
          toggle_active_path(@product.id), 
          method: :patch,
          data: {confirm: "Are you sure to set the state to #{@product.active ? "inactive" : "active"}"}, 
          class:'btn btn-outline-danger btn-sm'
      %>
    <% end %>
    </div>
  </div>
<div class='col-11 '>

  <div id="products-reviews container">
    <div class="row">
    <section class='col-4'>
      <%= render partial: 'products/reviews', locals: {reviews: @product.reviews}%>
    </section>
    <%# <section class='col-8 review-form'> %>
      <%= render partial: 'reviews/new', locals: {review: @review}%>
    <%# </section> %>
  </div>
</div>