<div class="container mt-5 mb-5">
  <h1><%= @product.name %></h1>

  <div class="card bg-light mb-3">
    <div class="row card-body">
      <div class="col-6">
        <img src= <%= @product.image %> alt="" class="img-fluid">
      </div>
      <div class="col">
        <h3 class="card-title"> Product Info: </h5>
        <h6 class="card-subtitle mt-4 mb-2 text-muted"><%= @product.description %></h6>
        <h6 class="card-subtitle mt-4 mb-2 text-muted">Merchant: <%= link_to @product.merchant.username, merchant_path(@product.merchant_id)%></h6>
        <h5 class="mt-4 mb-1">Categories:</h4>
        <p class="mt-0">
          <% @product.categories.each do |category|%>
            <span class="badge badge-secondary"><%= link_to category.name, category_path(category.id), class:"text-white" %></span>
          <%end%>
        </p>

        <h5 class="mt-4">$ <%= sprintf("%.2f",@product.price) %></h5>

        <p class="mt-4">
          Current Stock: <%= @product.stock %>
          <% if @product.stock <= 10 %>
            <span class="badge badge-pill badge-danger">Low in stock</span>
          <% end %>
        </p>
        <% if @product.find_average_rating.nil? %>
            <p> No review for this product yet! </p>
        <%else%>
          <p class="text-warning">
              <% @product.find_average_rating.times do  %>
                    ★
              <%end%>
              <% (5-@product.find_average_rating).times do%>
                    ☆
              <%end%>
          </p>
        <%end%>

        <%if @product.stock > 0 %>
          <%= render partial: 'products/addproduct' %>
        <% end %>
        
        <% if session[:merchant_id] == @product.merchant_id %>
          <%= link_to 'Edit Product', edit_product_path(@product.id), class:'btn btn-outline-secondary btn-sm'%>
          <%= link_to "Set #{@product.active ? "inactive" : "active"}", 
              toggle_active_path(@product.id), 
              method: :patch,
              data: {confirm: "Are you sure to set the state to #{@product.active ? "inactive" : "active"}"}, 
              class:'btn btn-outline-danger btn-sm'
          %>
        <% end %>

      </div>
    </div>
  </div>  

  <h1 class="mt-5">Reviews:</h2>

  <div class="card bg-light mb-3" style="background-image: url(<%= asset_path("water.jpg")%>); background-position: center; background-size: cover">
    <div class="card-body">
        <%= render partial: 'reviews/new', locals: {review: @review}%>
        <%= render partial: 'reviews/reviews', locals: {reviews: @product.reviews}%> 
    </div>
  </div>

</div>