<div class="row product-item">
      <div class='card h-100'>
        <div class='col-lg-6 col-xl-7 '>
        <%= image_tag @product.image, alt: "product's image", class:'img-fluid product-img'%>
        </div>
        <div class='col-lg-6 col-xl-4 pt-4 order-1 orderlg-2 ml-lg-auto'>
        <h4><%= link_to @product.name, product_path(@product) , class: 'card-title' %></h4>
        <p><%= @product.description %></p>
        <h5>$ <%= @product.price %></h5>
        <p><%= @product.rating%>★</p>
        <%= link_to 'Add to cart', add_to_cart_path(@product.id), method: :create, class:'btn btn-outline-secondary btn-sm'%>
        <%= link_to 'Edit Product', edit_product_path(@product.id), class:'btn btn-outline-secondary btn-sm'%>
        <%= link_to 'Delete Product', 
            product_path(@product.id), 
            method: :delete, 
            data: {confirm: "Are you sure to delete this product?"}, 
            class:'btn btn-outline-danger btn-sm'
        %>
    </div>
  </div>
<div class='col-11 '>

  <div id="products-reviews">
    <%= render partial: 'products/reviews', locals: {reviews: @product.reviews}%>
  </div>

    <h5>Leave a comment</h5>
    <%= form_for @review, remote: true do |f| %>
      <%= f.hidden_field :product_id, value: @product.id%>
      <%= f.select :rating,[1,2,3,4,5], {}, value: @review.rating%>
      <%= f.text_area :comment, placeholder: 'Your Comment goes here', class: 'form-control'%>
      <%=f.submit "Submit review", class: 'btn btn-success mt-3'%>
    <% end %>
  </div>
</div>