  <%= form_for @review, :html => {class:"review"}, remote: true do |f| %>
    <%= f.hidden_field :product_id, value: @product.id%>
    <div class="card bg-light p-5">
      <div class='form-group'>
        <h5 class="title">Review this product</h5>
        <p class="card-subtitle mt-2 mb-2 text-muted">Share your thoughts with other customers.</p>
      </div>
      <div class='form-group required'>
        <%=f.label :reviewer_name%>
        <%= f.text_field :reviewer, value: @review.reviewer%>
      </div>
      <div class='form-group required'>
        <%=f.label :rating%>
        <%= f.select :rating,[5,4,3,2,1], {}, value: @review.rating%>
      </div>
      <div class='form-group'>
        <%=f.label :comment%>
        <%= f.text_area :comment, placeholder: 'Optional Comment', class: 'form-control'%>
      </div>
      <div style="text-align:center">
        <%=f.submit "Submit review", class: 'btn btn-info mt-3', style:""%>
      </div>
    </div>
  <% end %>
