<header class="app-header" style="background-image: url(<%= asset_path("header_image.jpg") %>);">
  <h1 class="app-header__header">
    <%= link_to "Well Etsy", root_path, class: "" %>
  </h1>

  <nav class="navbar navbar-expand-lg app-header__nav">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      MENU
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "All Products", products_path, class: "nav-link app-header__nav__item" %>
        </li>
        <li class="nav-item">
          <%= link_to "By Category", categories_path, class: "nav-link app-header__nav__item" %>
        </li>
        <li class="nav-item">
          <%= link_to "By Merchant", merchants_path, class: "nav-link app-header__nav__item" %>
        </li>
        <li class="nav-item">
          <%= link_to merchants_path, class: "nav-link app-header__nav__item", style: "color: orange; font-size: 1.3rem; padding: 0.2rem;" do %>
            <i class="fa fa-shopping-cart"></i>
          <% end %>
        </li>
      </ul>

      <ul class="navbar-nav">
        <% if session[:merchant_id] %>
          <%= link_to "Dashboard", merchant_path(session[:merchant_id]), class: "btn btn-outline-warning app-header__nav__button" %>
          <%= link_to "Log Out", logout_path, method: :post, class: "btn btn-outline-warning app-header__nav__button" %>    
        <% else %>
          <%= link_to "Log In", github_login_path, class: "btn btn-outline-warning app-header__nav__button" %>    
        <% end %>
      </ul>
    </div>
  </nav>
</header>